/* Fuentes locales */
@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/static/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/roboto/static/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}